
#box {
	
	background-repeat: repeat;
	background-size: auto;
	background-image: url('./images/background.jpg');
	background-repeat: repeat;
	background-size: auto;
	background-image: url('./images/menu_background.jpg');
	-moz-box-sizing: border-box;
	background-color: grey;
	width: 1200px;
	height: 900px;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
}

#upper {
	
	background-repeat: repeat;
	background-size: auto;
	background-image: url('./images/background.jpg');
	-moz-box-sizing: border-box;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	width: 100%;
	height: 20%;
	margin-bottom: 20px;
}

#left {
	
	background-repeat: repeat;
	background-size: auto;
	background-image: url('./images/background.jpg');
	-moz-box-sizing: border-box;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	float: left;
	width: 20%;
	height: 78%;
	margin-right: 20px;
}

#center {
	
	background-repeat: repeat;
	background-size: auto;
	background-image: url('./images/background.jpg');
	-moz-box-sizing: border-box;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	float: left;
	width: 78%;
	height: 78%;
	
}